


{% block body %}

    <div>Contact effectu par {{comment.content}} {{comment.pseudo}} </div>
    <div>societé contact: {{comment.email}} </div>
    <div>phone contact : {{comment.createAt}} </div>
    

{% endblock %}