        {###################################################}
            {#   mail template for the user's password  reset  #}
            {###################################################}

    {% block body %}
    {% if reset_token %}
        
    <h1> Réanitialisation du Mot de passe</h1>
    <p>Bonjour une demande de réanitialisation de mot passe a été effectué pour le site Saint Leman</p>
    <p>cliqué sur le lien suivant pour modifié votre mot de passe</p>
    <a href="http://localhost:3000/reset/form">Réanitialisé votre mot de passe</a>
     <input type='hidden' value={{reset_token}} />
    {% else %}
    <h1>Erreur,token non autorisé</h1>
    {% endif %}
    {% endblock %}