        {###################################################}
            {#   mail template for the user's password  reset  #}
            {###################################################}
<h1> Réanitialisation du Mot de passe</h1>
    <p>Bonjour une demande de réanitialisation de mot passe a été effectué pour le site Saint Leman</p>
    <p>cliqué sur le lien suivant pour modifié votre mot de passe</p>
    <p><a href="{{absolute_url(path('resetPassword', {'reset_token':reset_token}))}}">Cliquez ICI</a></p>